@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@300;500;700;900&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 375px;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px 5px rgba(82, 82, 82, 0.499);
  overflow: hidden;
}

/* ************************** */
/* ******* HEADER ****** */
.header {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-img {
  /* width: 100%; */
  height: auto;
  background-image: url('assets/tablet/image-hero.png');
  background-size: cover;
  background-position: center;
  width: 420px;
  margin-top: 40px;
}

.content {
  /* width: 327px; */
  /* border: solid; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  color: #28283d;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px; /* 110% */
}
.content p {
  margin-left: 24px;
  margin-right: 24px;
  color: #87879d;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}
.header-buttons{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.download {
  width: 193px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 29px;
  background: #4d96a9;
  border: none;
}
.download-text {
  color: #fff;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}
.version-text {
  color: #8fe3f9;
  font-size: 16px;
  font-weight: 900;
}

.whatIsIt-btn {
  border: none;
  color: #fff;
  font-weight: 900;
  width: 139px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 29px;
  background: #855fb1;
}
/* ************************** */
/* ******* CONTENT ****** */
.content_gallery_and_after{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#xazebi {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top {
  stroke-width: 1px;
  stroke: #87879d;
  opacity: 0.25;
  width: 1px;
  height: 84px;
  flex-shrink: 0;
  background-color: black;
}
#round {
  background-color: white;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ****** GALERY ******* */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-content: center;
  justify-content: center;
  gap: 1rem;
}
.img-q {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 150px;
  border-radius: 10px;
}
.img-w {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 150px;
  border-radius: 10px;
}
.img-e {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 150px;
  border-radius: 10px;
}
.img-r {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 150px;
  border-radius: 10px;
}

/* ********************** */
/* ******* LOWER ******** */

#afterGallery {
  margin-top: 40px;
}
.lower-content-heading {
  color: #4d96a9;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  letter-spacing: 4px;
  text-transform: uppercase;
}
.lower-content {
  margin-top: 10px;
  color: #28283d;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
}
.lower-content-p {
  margin-top: 10px;
}
/* ******************************  FOOTER  ********************************* */
footer {
  margin-top: 40px;
  padding: 05%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100px;
  background-image: url("assets/mobile/image-footer.jpg");
  background-color: #4d96a9; /* Used if the image is unavailable */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 428px;
  background-blend-mode: soft-light;
}
.footer_content{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.xazebi {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -115px;
}
.top {
  stroke-width: 1px;
  stroke: #87879d;
  opacity: 0.25;
  width: 1px;
  height: 84px;
  flex-shrink: 0;
  background-color: black;
}
.round {
  background-color: white;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ftr-heading {
  color: #fafafa;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}
.ftr-p {
  color: #fafafa;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
#purple {
  background: #855fb1;
  border: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  /* Your tablet-specific styles go here */
.card{
  width: 768px;
}
.header-img {
  width: 850px;
  margin-top: 40px; 
}
.content #header{
  /* width: 457px; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.gallery {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

#afterGallery{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
@media (min-width: 1440px){
   /* Your Desktop-specific styles go here */
   .logo{

   }
.card{
  width: 1440px;
}
.header{
  /* დასალაგებელია სურათი-კონტენტი-სურათი */
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#header{
  /* border: solid; */
  width: 540px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content h1 {
  color: #28283D;
font-size: 64px;
font-weight: 900;
line-height: 64px; /* 100% */
}
.content p {
  color: #87879d;
  font-size: 20px;
}
.header-img{
  background-image: url("meet-landing-page/assets/desktop/image-hero-left.png");
}
.header-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header-img-right{
  background-image: url("meet-landing-page/assets/desktop/image-hero-right.png");
}
.gallery {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
.img-q {
  width: 220px;
}
.img-w {
  width: 220px;
}
.img-e {
  width: 220px;
}
.img-r {
  width: 220px;
}
#afterGallery{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  height: 308px;
  background-image: url("assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;

}
.footer_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.ftr-heading{
  width: 350px;
font-size: 40px;
}
.ftr-p{
  width: 350px;
}
}

/* ************************** */
/* ******* NOTES ****** */
/* used overflow: hidden; for card, to prevent image be seen outside of the card, if image is wider than the card */
/* using less margings and paddings in the code  */
/* used complately different layout for Desktop responsive design */
/* i create script file to support layoute change for my header for Desktop Responsive */